html{
  background-color: beige;
  font-size: 16px;
}

body {
  width: 900px;
  height: 92vh;
  /* min-height: 100vh; */
  margin: 10px auto;
  padding: 20px;
  
  background-color: rgb(231, 207, 176);
  font-family: 'Ubuntu', sans-serif;
  
}

#root{
  padding: 10px 30px;
}