*{
  user-select: none;
}

html{
  background-color: beige;
}

@media screen and (min-width: 1601px)
{
    html
    {
        font-size: 16px;
    }
}

@media screen and (min-width: 1401px) and (max-width: 1600px)
{
    html
    {
        font-size: 15px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px)
{
    html
    {
        font-size: 14px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px)
{
    html
    {
        font-size: 13px;
    }
}

@media screen and (max-width: 991px)
{
    html
    {
        font-size: 13px;
    }
}

body {
  position: relative;
  
  max-width: 1000px;
  min-width: 820px;
  width: 70%;
  
  margin: 10px auto;
  padding: 10px;
  
  background-color: rgb(214, 151, 68);
  border: 5px solid rgb(230, 185, 127);
  font-family: 'Ubuntu', sans-serif;
}

#root{
  padding: 10px 30px;
}