form{
    display: inline;

    text-align: right;
}

h2{
    margin: 20px auto 0;

    color: rgb(18, 112, 116);
    font-size: 2.2rem;
    font-family: 'Dongle', sans-serif;
    font-weight: normal;
    text-align: center;
}

#inputSubject{
    width: 14%;
    margin: 8px 20px;
    padding: 2px 5px;

    font-size: 1.3rem;
    
    border: 2px solid #555;
    border-radius: 4px;
}