h2{
    color: rgb(18, 112, 116);
    font-size: 1.3rem;
}

#selectorContainer{
    display: flex;
    justify-content:space-around;

    align-items: center;

    width: 96%;
    margin: 6px auto;
    padding: 14px;
}

#imgPreview{
    width: 70%;
}

.message{
    display: inline-block;

    width: 66%;

    font-size: 2.2rem;

    color: rgb(45, 22, 88);
}

#loading{
    width: 18%;
    
    transform-origin: center;
    animation: turn 1.4s infinite;
}

@keyframes turn{
    from { transform: rotate( 0 ); }
    to { transform: rotate( 360deg ); }
}

