.pieceContainer{
    position: relative;
    display: flex;
    justify-content: center;

    width: 98%;
    height: 98%;
    overflow: hidden;

    border: 1px solid gray;
    box-sizing: border-box;
}

.pieceContainer.black{
    border: 4px solid black;
    background-color: rgb(182, 51, 51);
}

.imgPiece{
    position: absolute;

    width: 500%;
}

.imgBlack{
    position: relative;

    object-fit: contain;

    width: 88%;
}
