#puzzleContainer{
    display: grid;

    margin: 18px auto;
}

#victoryPhoto{
    display: block;
    margin: 18px auto;
    box-sizing: border-box;

    border: 2px solid gray;
}

@media screen and (min-width: 1601px)
{
    #puzzleContainer, #victoryPhoto
    {
        width: 800px;
        height: 540px;
    }
}

@media screen and (min-width: 1401px) and (max-width: 1600px)
{
    #puzzleContainer, #victoryPhoto
    {
        width: 700px;
        height: 472px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px)
{
    #puzzleContainer, #victoryPhoto
    {
        width: 600px;
        height: 400px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px)
{
    #puzzleContainer, #victoryPhoto
    {
        width: 500px;
        height: 338px;
    }
}

@media screen and (max-width: 991px)
{
    #puzzleContainer, #victoryPhoto
    {
        width: 500px;
        height: 338px;
    }
}

#victoryAlert{
    position: absolute;
    top: 44%;
    left: 32%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 36%;
    height: 140px;
    padding: 0;

    background-color: #445;
    border: 3px solid #aaa;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #555;

    animation: backInDown 1.2s;
}

#victoryAlert p{
    
    font-size: 42px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    color: white;

}

#comeBack{
    margin: 12px;
    padding: 5px 8px;

    font-size: 1.2rem;
    color: rgb(18, 112, 116);
    font-family: 'Cantarell light';
    font-weight: bolder;

    background-color: beige;
    border-radius: 10px;
    cursor: pointer;
}

#comeBack:hover{
    background-color: #ccc;
}
