#puzzleContainer{
    display: grid;

    margin: 18px auto;

    animation: fadeIn 700ms;
}

#victoryPhoto{
    display: block;
    margin: 18px auto;
    box-sizing: border-box;
    
    border: 2px solid gray;

    animation: fadeIn 700ms;
}

@media screen and (min-width: 1601px)
{
    #puzzleContainer, #victoryPhoto
    {
        width: 800px;
        height: 540px;
    }
}

@media screen and (min-width: 1401px) and (max-width: 1600px)
{
    #puzzleContainer, #victoryPhoto
    {
        width: 700px;
        height: 472px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px)
{
    #puzzleContainer, #victoryPhoto
    {
        width: 600px;
        height: 400px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px)
{
    #puzzleContainer, #victoryPhoto
    {
        width: 500px;
        height: 338px;
    }
}

@media screen and (max-width: 991px)
{
    #puzzleContainer, #victoryPhoto
    {
        width: 500px;
        height: 338px;
    }
}

#victoryAlert{
    position: absolute;
    top: 44%;
    left: 32%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 36%;
    height: 140px;
    padding: 0;

    background-color: rgb(6, 82, 85);
    border: 3px solid #aaa;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #555;

    animation: backInDown 1.6s ease-in;
}

#victoryAlert p{
    
    font-size: 42px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    color: beige;

}

#comeBack{
    margin: 12px;
    padding: 10px 12px;

    font-size: 1.2rem;
    color: rgb(18, 112, 116);
    font-family: 'Cantarell';
    font-weight: bold;

    background-color: beige;
    border: 2px solid rgb(18, 112, 116);
    border-radius: 6px;
    cursor: pointer;
    
    transition: color 0.4s, background-color 0.4s, border 0.4s linear;
}

#comeBack:hover{
    color: beige;
    background-color: rgb(18, 112, 116);
    border: 2px solid beige;
}
